<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Showroom</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Ваши заказы</h1>
    <div th:each="el : ${history}" class="alert alert-info mt-2">
        <strong th:text="'Номер заказа: ' + ${el.idhistory}"></strong>
        <br>
        <strong th:text="${el.email}"></strong>
        <br>
        <strong th:text="${el.appointment}"></strong>
        <br>
        <strong th:text="${el.status}"></strong>
        <br>
        <strong th:text="${el.carsList}"></strong>
    </div>

</div>

</body>
</html>